.privacy {
	background: $white;
	font-size: 16px;
	
	h1 {
		font-size: 2.5em;
	}
	h2 {
		font-size: 2em;
	}
	h3 {
		font-size: 1.4em;
	}
	b {
		font-weight: bold;
	}
	ol {
		list-style-type: decimal;
		padding-left: 40px;

		ol {
			list-style-type: lower-alpha;
		}
	}
	ul {
		list-style-type: circle;
		padding-left: 40px;
	}
	.grid {
		@include clearfix;
		margin-bottom: 3em;
	}
	.hero {
		width: 60%;

	}
}
